Package: com.iosre.weibofuntweak
Name: WeiboFunTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Crassus
Author: Crassus
Section: Tweaks
Version: 0.0.1-10+debug
Installed-Size: 136
